{% block stylesheets %}
    <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/business-casual.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/matafest.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

{% endblock %}
{% block body %}
    {% include '@templates/header.html.twig' %}
    {% if blogs|length > 0 %}
        {% for blog in blogs %}
            <section class="page-section">
                <div class="container">
                    <div class="product-item">
                        <div class="product-item-title d-flex">
                            <div class="bg-faded p-5 d-flex {% if(loop.index % 2 == 0) %}ml-auto{% else %}mr-auto{% endif %} rounded">
                                <div class="col-md-2">
                                    <a href="{{ asset('assets/img/blog/') }}{{ blog.image }}" data-lightbox="image-{{ blog.id }}" data-title="{{ blog.titulo }}">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('assets/img/blog/') }}{{ blog.image }}" alt="">
                                    </a>
                                </div>
                                {#<div class="product-item-description d-flex {% if(loop.index % 2 == 0) %}mr-auto{% else %}ml-auto{% endif %}">#}
                                <div class="col-md-10">
                                    {#<div class="bg-faded p-5 rounded">#}
                                    <div>
                                        <h3>{{ blog.titulo }}</h3>
                                        <p>{{ blog.descripcion|raw }}</p>
                                        <div class="card-footer text-muted">
                                            Publicado el {{ blog.fecha|date("d-m-Y") }}
                                        </div>
                                        {#<a class="btn btn-primary" href="#">Ver Post</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(blogs) }}
        </div>
    {% else %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">Estate al loro</span>
                                <span class="section-heading-lower">En breve os informaremos de todo</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {#<div class=" col-md-4">#}
    {#<section class="page-section">#}
    {#<div class="container">#}
    {#<div class="product-item-title d-flex">#}
    {#<div class="bg-faded p-5 d-flex rounded">#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}
    {#</div>#}
    {% include '@templates/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/lightbox.js') }}"></script>
{% endblock %}